.cardContainer {
    color: #FFFFFF;
    position: relative;
    max-width: 184px;
    cursor: pointer;
}

.image {
    border-radius: 20px;
    width:250px;
    height:300px;
    object-fit:cover
}

.movieTitle {
    font-size: 18px;
    font-weight: 600;
    color:black;
    width:250px;
}
