.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carouselContent {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
}

.prevButtom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 10px 10px 5px;
  cursor: pointer;
  left: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 5px 10px 10px;
  cursor: pointer;
  right: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
